:root {
	--primary-text-color: #212121;
	--secondary-text-color: #757575;
	--accent-color: #2196F3;
	--primary-white-color: #ffffff;
	--icon-grey-color: #AFB1B8;
	--background-grey-color: #F5F4FA;
}

body {
	background-color: var(--primary-white-color);
	color: var(--primary-text-color);
	font-family: Roboto, Verdana, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	letter-spacing: 0.03rem;
	}

	/* Утилиты */
ul {
	list-style: none;
	}
img, a {
	display: block;
	max-width: 100%;
	text-decoration: none;
}
.list {
	margin: 0;
	padding: 0;
}
.section {
	padding-top: 94px;
	padding-bottom: 94px;
}

/* Лого */
.logo-web {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.48;
	color: var(--accent-color);
	text-decoration: none;
}
.logo-studio {
	color: var(--primary-text-color);
}
.logo-studio-footer {
	color: var(--primary-white-color);
}
.logo-web.bottom {
	margin-bottom: 20px;
}

/* Шапка сайта */
header::after {
	display: block;
	position: absolute;
	top: 79px;
	content: "";
	width: 100%;
	border-bottom: 1px solid #ECECEC;
}
.container {
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
}
.main-nav {
	display: flex;
	align-items: center;
}
nav {
	display: flex;
	align-items: center;
}
.header-nav, .header-mail, .header-tel {
	display: flex;
	flex-direction: row;
	padding-top: 32px;
	padding-bottom: 32px;
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
	text-decoration: none;
	color: var(--primary-text-color);
}
.header-nav.current {
	position: relative;
	color: var(--accent-color);
}
.header-nav.current::after {
	display: block;
	position: absolute;
	top: 76px;
	content: "";
	width: 100%;
	height: 4px;
	border-radius: 2px;
	background-color: var(--accent-color);
	z-index: 1;
}
.header-mail, .header-tel {
	color: var(--secondary-text-color);
}
.contact-icon {
	margin-right: 10px;
	fill: currentColor;
}
.current:hover, .header-nav:hover, .header-mail:hover, .header-tel:hover, .current:focus, .header-nav:focus, .header-mail:focus, .header-tel:focus, .contact-icon:hover, .contact-icon:focus {
	color: var(--accent-color);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav {
	display:flex;
}
.site-nav .item:not(:last-child) {
	margin-right: 50px;
}
.site-nav.list {
	margin-left: 93px;
}
.auth-nav {
	display: flex;
	margin-left: auto;
}
.auth-nav .item + .item {
	margin-left: 30px;
}

/* Герой */
.hero {
	text-align: center;
	padding-top: 200px;
	padding-bottom: 200px;
	background-color: #2F303A;
	height: 600px;
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: linear-gradient(
		to right,
		rgba(47, 48, 58, 0.4),
		rgba(47, 48, 58, 0.4)
	),
	url(../images/overlay/hero-overlay.jpg);

}
.hero-title {
	max-width: 700px;
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: var(--primary-white-color);
	margin-top: 0;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
}

/* Заказать услугу */
.main-button {
	font-family: inherit;
	width: 200px;
	height: 50px;
	background: var(--accent-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.06em;
	color: var(--primary-white-color);
	cursor: pointer;
	border: none;
}

/* Преимущества */
.advantages-pictures {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-left: 0;
	padding-right: 0;
	margin-top: 0;
	margin-bottom: 30px;
}
.advantages-list {
	margin-right: 30px;
}
.advantages-list:nth-last-child(-n + 1) {
	margin-right: 0px;
}
.advantages-area {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 270px;
	height: 120px;
	padding: 0;
	color: var(--primary-text-color);
	background-color: var(--background-grey-color);
	border: 1px solid var(--icon-grey-color);
	border-radius: 4px;
	border: none;
}
.advantages-area:hover, .advantages-area:focus {
	color: var(--accent-color);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.advantages-icon {
	fill: currentColor;
}
.advantages-title {
	font-size: 14px;
	font-weight: 700;
	line-height: 1.14;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 10px;
	}
.advantages-description {
	line-height: 1.71;
	color: var(--secondary-text-color);
	margin-top: 0;
	margin-bottom: 0;
	}
.feature-list.list {
	display: flex;
	flex-wrap: wrap;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
}
.feature-list .item {
	width: 270px;
	margin-right: 30px;
}
.feature-list .item:last-child {
	margin-right: 0;
}
.feature-list .picture {
	position: relative;
	margin-right: 30px;
	}
.feature-list .picture:last-child {
	margin-right: 0;
} 
.feature-list .block {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 370px;
	height: 70px;
	top: 224px;
	left: 0;
	background: rgba(47, 48, 58, 0.8);
}
.feature-list .description {
	margin: 0;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-align: center;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--primary-white-color);
}

/* Чем мы занимаемся */
.section.about {
	padding-top: 0;
}
.section-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	margin-top: 0;
	margin-bottom: 50px;
}
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/* Наша команда */
.section.our-team {
	background-color: var(--background-grey-color);
}
.team {
	margin-right: 30px;
	text-align: center;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
	0px 1px 1px rgba(0, 0, 0, 0.14),
	0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
	background-color: var(--primary-white-color);
}
.team:last-child {
	margin-right: 0;
}
.team-member {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	margin-top: 30px;
	margin-bottom: 10px;
}
.team-title {
	font-size: 16px;
	line-height: 1.19;
	color: var(--secondary-text-color);
	margin-top: 0;
	margin-bottom: 16px;
}
.social {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-left: 0;
	padding-right: 0;
	margin-bottom: 30px;
}
.social-button {
	margin-right: 10px;
}
.social-button:nth-last-child(-n + 1) {
	margin-right: 0px;
}
.button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 44px;
	height: 44px;
	color: var(--icon-grey-color);
	background-color: var(--primary-white-color);
	border-radius: 50%;
}
.button:hover, .button:focus {
	color:var(--primary-white-color);
	background-color: var(--accent-color);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-icon {
	fill: currentColor;
}
/* Постоянные клиенты */
.company-button {
	margin-right: 30px;
}
.clients {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-left: 0;
	padding-right: 0;
	margin-top: 0;
	margin-bottom: 0;
}
.clients-button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 170px;
	height: 92px;
	color: var(--icon-grey-color);
	background-color: var(--primary-white-color);
	border: 1px solid var(--icon-grey-color);
	box-sizing: border-box;
	border-radius: 4px;
}
.clients-button:hover, .clients-button:focus {
	color: var(--accent-color);
	background-color: var(--primary-white-color);
	border: 1px solid var(--accent-color);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-icon {
	fill: currentColor
}

/* Модальное окно */
.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.2);
	opacity: 1;
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
	opacity: 0;
	pointer-events: none;
}
.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
	width: 528px;
	height: 581px;
	background: var(--primary-white-color);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
}
.is-hidden .modal {
	transform: translate(-50%, -50%) scale(0.5);
}
.modal-title {
	margin-top: 40px;
	margin-bottom: 0;
	font-weight: 700;
	font-size: 20px;
	line-height: 1.15;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--primary-text-color);
}
.modal-form {
	margin-top: 12px;
	width: 448px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 40px;
}
.modal-form ul {
	margin-top: 0;
	margin-bottom: 20px;
	padding-left: 0;
}
.form-field {
		position: relative;
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}
.form-field .title {
	margin-bottom: 4px;
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.01em;
	color: var(--secondary-text-color);
}
.form-field input {
	padding-left: 42px;
	height: 40px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
}
.form-field:last-child {
	margin-bottom: 0px;
}
.form-field input:focus, .form-field textarea:focus {
	border: 1px solid var(--accent-color);
	outline: none;
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field input:focus + .modal-icon {
	fill: var(--accent-color);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-icon {
	position: absolute;
	bottom: 11px;
	left: 12px;
	fill: currentColor;
}
.form-field textarea {
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	padding-top: 11px;
	padding-bottom: 11px;
	padding-right: 12px;
	padding-left: 12px;
	height: 120px;
	resize: none;
	width: 100%;
}
.form-field textarea::placeholder {
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.01em;
	color: rgba(117, 117, 117, 0.5);
}
.modal-checkbox {
	position: relative;
	margin-bottom: 30px;
}
.modal-checkbox label {
	display: flex;
	flex-direction: row;
	margin-left: 36px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--secondary-text-color);
	cursor: pointer;
}
.modal-checkbox input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	position: absolute;
	top: 12px;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}
.modal-checkbox input:checked + .icon {
	border-color: transparent;
	border-radius: 2px;
	background-color: var(--accent-color);
	background-size: contain;
	background-image: url(../images/icons/all/checkbox-checked.svg);
	background-origin: border-box;
	fill: transparent;
}
.modal-checkbox .link {
	text-decoration: underline;
	color: var(--accent-color);
}
.modal-checkbox .icon {
	position: absolute;
	left: 12px;
	top: 50%;
	transform: translate(0, -50%);
}
.modal-form button {
	width: 200px;
	height: 50px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	text-align: center;
	letter-spacing: 0.06em;
	color: var(--primary-white-color);
	background-color: var(--accent-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	border: none;
	cursor: pointer;
}
.close-button {
	position: absolute;
	top: 8px;
	left: 490px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
	padding: 0;
	background: var(--primary-white-color);
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	cursor: pointer;
}
.close-button .icon {
	fill: currentColor;
}
.close-button .icon:hover, .close-button .icon:focus {
	fill: var(--accent-color);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Портфолио-кнопки */
.portfolio-button, .portfolio-current {
	font-family: inherit;
	background: var(--background-grey-color);
	border-radius: 4px;
	border-style: none;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.63;
	text-align: center;
	cursor: pointer;
	padding: 6px 22px;
}
.portfolio-button:hover, .portfolio-button:focus {
	background: var(--accent-color);
	color: var(--primary-white-color);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
	0px 1px 2px rgba(0, 0, 0, 0.08),
	0px 2px 2px rgba(0, 0, 0, 0.12);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-button.current {
	background: var(--accent-color);
	color: var(--primary-white-color);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
			0px 1px 2px rgba(0, 0, 0, 0.08),
			0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Портфолио-картинки */
.flex-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
}
.flex-container.portfolio {
	margin-bottom: 0;
}
.flex-button {
	margin-right: 8px;
}
.flex-button:last-child {
	margin-right: 0;
}
.flex-element {
	width: 370px;
	margin-right: 30px;
	margin-bottom: 30px;
	box-sizing: inherit;
	outline: 1px solid var(--primary-white-color);
}
.flex-element .visible-overlay {
	position: relative;
	overflow: hidden;
}
.blue-overlay {
	display: block;
	position: absolute;
	width: 370px;
	height: 294px;
	top: 0;
	left: 0;
	margin: 0;
	background-color: var(--accent-color);
	opacity: 0;
	transform: translateY(100%);
}
.blue-overlay .text {
	display: block;
	width: 322px;
	height: 168px;
	margin: 63px 24px;
	font-size: 18px;
	line-height: 1.56;
	color: var(--primary-white-color);
}
.flex-element .link:hover .blue-overlay {
	transform: translateY(0);
	opacity: 0.9;
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.flex-element:nth-child(3n) {
	margin-right: 0;
}
.flex-element:nth-last-child(-n + 3) {
	margin-bottom: 0;
}
.flex-element:hover, .flex-element:focus {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
	0px 4px 4px rgba(0, 0, 0, 0.06),
	1px 4px 6px rgba(0, 0, 0, 0.16);
	transition: transform 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-pic {
	width: 322px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
}
.portfolio-pic .title {
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	margin-top: 0;
	margin-bottom: 4px;
	color: var(--primary-text-color);
}
.portfolio-pic .description {
	font-size: 16px;
	line-height: 1.88;
	color: var(--secondary-text-color);
	margin-top: 0;
	margin-bottom: 0;
}

/* Футер */
footer {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: #2F303A;
}
.footer-block {
	display: flex;
	flex-wrap: wrap;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}
.footer-contacts {
	width: 231px;
	margin-right: 70px;
}
.address-details {
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
}
.address-details .item:not(:last-child) {
	margin-bottom: 9px;
}
.footer-address {
	font-style: normal;
	font-weight: 400;
	line-height: 1.71;
	color: var(--primary-white-color);
	text-decoration: none;
}
.footer-mail-tel {
	font-style: normal;
	line-height: 1.71;
	color: rgba(255, 255, 255, 0.6);
	text-decoration: none;
	}
.footer-mail-tel:hover, .footer-mail-tel:focus {
	color: var(--accent-color);
	transition: transform 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-join {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--primary-white-color);
	margin: 0;
	margin-top: 12px;
	margin-bottom: 20px;
}
.footer-social {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-left: 0;
	padding-right: 0;
	margin: 0;
}
.join {
	color: var(--primary-white-color);
	background: rgba(255, 255, 255, 0.1);
}
.subscribe {
	margin-left: 93px;
}
.subscribe .area {
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0;
}
.subscribe .window {
	width: 358px;
	height: 50px;
	font-size: 16px;
	line-height: 1.25;
	letter-spacing: 0.03em;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 16px;
	margin: 0;
	background-color: #2F303A;
	color: rgba(255, 255, 255, 0.6);
	border: 1px solid rgba(255, 255, 255, 0.3);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
}
.subscribe .submit {
	position: relative;
	width: 200px;
	height: 50px;
	display: flex;
	align-items: center;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 29px;
	padding-right: 0;
	margin-left: 12px;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.06em;
	color: var(--primary-white-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border: none;
	border-radius: 4px;
	background-color: var(--accent-color);
	cursor: pointer;
}
.subscribe .send-icon {
	position: absolute;
	right: 28px;
	fill: currentColor;
}